/* windicss layer base */
page {
  background-color: #f8f8f8;
  height: 100%;
  font-family: PingFang SC-常规体, PingFang SC;
  @apply text-gray-700;
}

view {
  @apply box-border;
}

button {
  @apply border-none outline-none m-0 ring-inset p-0;
}
button::after {
  @apply border-none outline-none ring-inset;
}

.text-truncate-2 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.text-truncate-3 {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
