/* windicss layer base */
page {
  background-color: #f8f8f8;
  height: 100%;
  font-family: PingFang SC-常规体, PingFang SC;
}

view,
cover-view,
cover-image,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
view {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}

[type='search'] {
  outline-offset: -2px;
}

button {
  @apply border-none outline-none m-0 ring-inset p-0;
}
button::after {
  @apply border-none outline-none ring-inset;
}
