/* windicss layer base */
page {
  background-color: #f8f8f8;
  height: 100%;
  font-family: PingFang SC-常规体, PingFang SC;
}

button {
  @apply border-none outline-none m-0 ring-inset p-0;
}
button::after {
  @apply border-none outline-none ring-inset;
}
